[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
flask = "*" 
waitress = "*" 
pillow = "*"

[dev-packages]
kaggle = "*"
matplotlib = "*" 
seaborn = "*"
scikit-learn = "*"
jupyter = "*"
tensorflow = "==2.7.4"

[requires]
python_version = "3.9"


